@define-color main-green #228B22;

.banner {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main_green {
  background-color: @main-green;
  color: white;
}
.padding_none {
  border-radius: 50%;
  padding: 20px;
  filter: invert(100%);
}

.button_main{
  margin: 10px;
  padding: 50px;
}
